* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    padding-top: 50px;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/************Filter Panel**************/

.filters-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filters-container .field-set {
    margin-bottom: 20px;
}

.filters-container ul {
    list-style: none;
}

.tags-filter li[data-selected=true] {
    background-color: #61dafb;
}
/************List Panel****************/
.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
}

.task-item {
    border: 2px solid #999;
    margin: 20px;
}

.task-item .task-title{
    text-align: left;
}

.task-item[data-isdone=true] .task-title {
    text-decoration: line-through;
}

.task-item[data-priority='1']  {
    border-left-color: darkblue;
}

.task-item[data-priority='2'] {
    border-left-color: darkgreen;
}

.task-item[data-priority='3']  {
    border-left-color:darkred;
}
/************AddEdit Panel*************/

.create-container form,
.edit-container form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

