* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    padding-top: 50px;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
}

.task-item {
    border: 2px solid #999;
    margin: 20px;
}

.task-item .task-title{
    text-align: left;
}

.task-item[data-isdone=true] .task-title {
    text-decoration: line-through;
}

.task-item[data-priority='1']  {
    background-color: #e2fbff;
}

.task-item[data-priority='2'] {
    background-color: #f9ffe2;
}

.task-item[data-priority='3']  {
    background-color: #ffe2e2;
}


.create-edit-contaiter form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

